<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <shipping>
            <inpost>
                <mode>test</mode>
                <label_format>pdf</label_format>
                <label_size_pdf>a4</label_size_pdf>
                <label_size_epl>a4</label_size_epl>
                <label_size_zpl>a4</label_size_zpl>
                <create_order_shipment>0</create_order_shipment>
                <notify_order_shipment>1</notify_order_shipment>
                <order_shipment_status>processing</order_shipment_status>
                <change_address>0</change_address>
                <sender_country_code>PL</sender_country_code>
                <free_method>G</free_method>
                <weight_attribute_code>weight</weight_attribute_code>
                <weight_unit>kg</weight_unit>
                <automatic_insurance_for_package>0</automatic_insurance_for_package>
                <get_shipments_days>60</get_shipments_days>
                <default_size>small</default_size>
                <default_weight>1</default_weight>
                <default_width>360</default_width>
                <default_length>80</default_length>
                <default_height>640</default_height>
                <pickup_country_code>PL</pickup_country_code>
            </inpost>
        </shipping>
        <carriers>
            <inpostlocker>
                <model>Smartmage\Inpost\Model\Carrier\InpostLocker</model>
                <title>InPost Paczkomaty</title>
                <active>1</active>
                <show_only_delivery_eow>0</show_only_delivery_eow>
                <standard>
                    <active>0</active>
                    <name>Paczkomaty 24/7</name>
                    <max_cart_weight>25</max_cart_weight>
                    <sallowspecific>1</sallowspecific>
                    <specificcountry>PL</specificcountry>
                    <popenabled>1</popenabled>
                </standard>
                <standardcod>
                    <active>0</active>
                    <name>Paczkomaty 24/7 - płatność przy odbiorze</name>
                    <max_cart_weight>25</max_cart_weight>
                    <sallowspecific>1</sallowspecific>
                    <specificcountry>PL</specificcountry>
                </standardcod>
                <standardeow>
                    <active>0</active>
                    <name>Paczka w Weekend</name>
                    <max_cart_weight>25</max_cart_weight>
                    <start_day>4</start_day>
                    <end_day>6</end_day>
                    <start_hour>20:00</start_hour>
                    <end_hour>13:00</end_hour>
                    <sallowspecific>1</sallowspecific>
                    <specificcountry>PL</specificcountry>
                </standardeow>
                <standardeowcod>
                    <active>0</active>
                    <name>Paczka w Weekend - płatność przy odbiorze</name>
                    <max_cart_weight>25</max_cart_weight>
                    <start_day>4</start_day>
                    <end_day>6</end_day>
                    <start_hour>20:00</start_hour>
                    <end_hour>13:00</end_hour>
                    <sallowspecific>1</sallowspecific>
                    <specificcountry>PL</specificcountry>
                </standardeowcod>
            </inpostlocker>
            <inpostcourier>
                <model>Smartmage\Inpost\Model\Carrier\InpostCourier</model>
                <title>InPost Kurier</title>
                <active>1</active>
                <c2c>
                    <active>0</active>
                    <name>Kurier C2C</name>
                    <max_cart_weight>25</max_cart_weight>
                    <sallowspecific>1</sallowspecific>
                    <specificcountry>PL</specificcountry>
                </c2c>
                <c2ccod>
                    <active>0</active>
                    <name>Kurier C2C - płatność przy odbiorze</name>
                    <max_cart_weight>25</max_cart_weight>
                    <sallowspecific>1</sallowspecific>
                    <specificcountry>PL</specificcountry>
                </c2ccod>
                <standard>
                    <active>0</active>
                    <name>Kurier</name>
                    <max_cart_weight>25</max_cart_weight>
                    <sallowspecific>1</sallowspecific>
                    <specificcountry>PL</specificcountry>
                </standard>
                <standardcod>
                    <active>0</active>
                    <name>Kurier - płatność przy odbiorze</name>
                    <max_cart_weight>25</max_cart_weight>
                    <sallowspecific>1</sallowspecific>
                    <specificcountry>PL</specificcountry>
                </standardcod>
                <express1000>
                    <active>0</active>
                    <name>Kurier - doręczenie do 10:00</name>
                    <max_cart_weight>25</max_cart_weight>
                    <sallowspecific>1</sallowspecific>
                    <specificcountry>PL</specificcountry>
                </express1000>
                <express1200>
                    <active>0</active>
                    <name>Kurier - doręczenie do 12:00</name>
                    <max_cart_weight>25</max_cart_weight>
                    <sallowspecific>1</sallowspecific>
                    <specificcountry>PL</specificcountry>
                </express1200>
                <express1700>
                    <active>0</active>
                    <name>Kurier - doręczenie do 17:00</name>
                    <max_cart_weight>25</max_cart_weight>
                    <sallowspecific>1</sallowspecific>
                    <specificcountry>PL</specificcountry>
                </express1700>
                <palette>
                    <active>0</active>
                    <name>Kurier - przesyłka na palecie</name>
                    <max_cart_weight>25</max_cart_weight>
                    <default_way_sending>dispatch_order</default_way_sending>
                    <sallowspecific>1</sallowspecific>
                    <specificcountry>PL</specificcountry>
                </palette>
            </inpostcourier>
        </carriers>
        <csp>
            <policies>
                <admin>
                    <frame-ancestors>
                        <inline>0</inline>
                    </frame-ancestors>
                </admin>
            </policies>
        </csp>
    </default>
</config>
