<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Smartmage_Inpost::shipmentsmenu"
             title="InPost Shipments List"
             translate="title"
             module="Smartmage_Inpost"
             sortOrder="100"
             parent="Magento_Sales::sales_operation"
             action="smartmageinpost/shipments/index"
             resource="Smartmage_Inpost::shipments"
        />
    </menu>
</config>
